@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta de cores Galáxia */
:root {
    --cor-fundo: #04040b; /* Cor de fundo escura */
    --cor-texto: #ffffff; /* Cor do texto em branco */
    --cor-primaria: #1f4068; /* Cor primária (azul escuro) */
    --cor-secundaria: #452d7b; /* Cor secundária (roxo escuro) */
    --cor-destaque: #ffcb77; /* Cor de destaque (amarelo) */
    --cor-acento: #ff495c; /* Cor de acento (vermelho) */
    --cor-sombra: rgba(0, 0, 0, 0.2); /* Cor da sombra (preto com transparência) */
  }
  

/* globals.css */
body {
    scrollbar-width: thin; /* Define a largura do scrollbar */
  }
  
  /* Estilizando o thumb do scrollbar no WebKit (Chrome, Safari, etc.) */
  body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria); /* Cor do thumb (vermelho) */
    border-radius: 4px; /* Arredondamento do thumb */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-secundaria); /* Cor do thumb ao passar o mouse por cima (amarelo) */
  }
  
  /* Estilizando a track do scrollbar no WebKit */
  body::-webkit-scrollbar-track {
    background-color: var(--cor-primaria); /* Cor da track (roxo escuro) */
  }
  